# this is an example of a .env file, that should be present in this directory. use something like this

# node environment
NODE_ENV=development

# PORT OVERRIDE FOR PRODUCTION USE
PORT=

# cors config
CORS_REGEX=localhost(?:\:\d{4})?$
CORS_REGEX_FLAGS=

### typeorm config
# database connection url
DATABASE_URL=

# JWT Secret 
JWT_SECRET='sdfdsgfdehew4r21oi143lk4234123sdfhjkv'

# if DATABASE_URL not set, use the following vars for connection
DB_CLIENT=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=db_name
DB_USER=user
DB_PASS=INSERT_PASSWORD_HERE

USE_AWS=false

AWS_ACCESS_KEY_ID=KEY_HERE
AWS_ACCESS_SECRET=SECRET_HERE
AWS_REGION=sa-east-1
AWS_BUCKET=AWS_BUCKET_HERE

# Nodemailer config
HOST=gmail
EMAIL=youremail@gmail.com
APPPASS=gmailgeneratedpass
